@page "/admin/plates/"

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
@inject HttpClient Http
@inject IPlateService PlateService
@inject IFilesService FileService


@if (plates == null)
{
    <p><em>Loading...</em></p>
}
else
{
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Wait and Take</p>
						<h1>Orders</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-name">Plate Id</th>
									<th class="product-name">Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Description</th>
									<th class="product-quantity">Price</th>
									<th class="product-quantity">Category</th>
									<th class="product-total">Actions</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var plate in plates)
								{
									<tr class="table-body-row">
										<td class="product-name">@plate.Id</td>
										<td class="product-name"> <img src="@plate.CoverImageUrl" alt="@plate.PlateName" width="130" height="100" /></td>
										<td class="product-name">@plate.PlateName</td>
										<td class="product-name">@plate.PlateBio</td>
										<td class="product-name">$@plate.PlatePrice</td>
										<td class="product-name">@plate.CategoryTag</td>
										<td>
											<a @onclick="() => DeletePlate(plate.Id)">
												<i class="fas fa-trash text-danger"></i>
											</a>
										</td>										
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<!--<div class="coupon-section">
					<h3>Apply Coupon</h3>
					<div class="coupon-form-wrap">
						<form action="index.html">
							<p><input type="text" placeholder="Coupon"></p>
							<p><input type="submit" value="Apply"></p>
						</form>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<!-- end cart -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>
						Copyrights &copy; 2024 - <a href="https://hamzabek.com/">Hamza Bek</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://hamzabek.com/">Liado</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
}

@code {
    public IEnumerable<PlateDTO>? plates { get; set; }
    private IBrowserFile? uploadedImage;    

    protected override async Task OnInitializedAsync()
    {
        try
        {
            plates = await plateService.GetAllPlates();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching plates: {ex.Message}");
        }
    }

    private async Task DeletePlate(string plateId)
    {
        try
        {           

            var response = await plateService.RemovePlateAsync(plateId);
            if (response.flag)
            {				
                plates = plates.Where(p => p.Id != plateId).ToList();
            }
            await js.InvokeVoidAsync("alert", response.message);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error deleting plate: {ex.Message}");
        }
    }
}